$about-container-padding-large: 180px 150px 100px 150px !important;
$about-container-padding-small: 100px 150px !important;
$about-container-padding-tablet: 100px 100px !important;
$about-container-padding-mobile: 20px 50px !important;

@mixin about-container-padding {
  padding: $about-container-padding-large;

  @media (max-width: 1430px) {
    padding: $about-container-padding-small;
  }

  @media (max-width: 1276px) {
    padding: $about-container-padding-tablet;
  }

  @media (max-width: 830px) {
    padding: 10px 100px !important;
  }

  @media (max-width: 600px) {
    padding: $about-container-padding-mobile;
  }
}

.aboutContainer {
  @include about-container-padding;
  border: none !important;
  box-shadow: none !important;
}

.aboutLeft {
  margin-top: 80px !important;
  padding-right: 50px !important;
  width: 50% !important;

  @media (max-width: 1276px) {
    margin-top: 0px !important;
  }

  @media (max-width: 1020px) {
    margin-top: 0px !important;
  }
}

.aboutGrid {
  flex-direction: row !important;
  margin-bottom: 20px !important;
}

.aboutImage {
  border-radius: 20px !important;
  object-fit: cover !important;
  width: 585px !important;
  height: 400px !important;

  @media (max-width: 600px) {
    height: 200px !important;
  }
}
